.root {
  margin-top: 12px;
  position: relative;
}

.run {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 7px;
  cursor: pointer;
  color: #bbb;
}

.run:hover {
  color: black;
}

.editor {
  /* background: 192830; */
}

.root pre {
  margin-top: 12px;
  padding-left: 0px;
  background: #192830;
  padding: 16px;
  border-radius: 8px;
}

.loading {
  padding: 24px;
}

.spinnerContainer {
  width: 170px;
  margin: 0 auto;
}
