.header > div > h1 {
  font-size: 4em;
  line-height: 1;
  font-weight: 600;
}

.header > div > p {
  font-size: 1.5em;
  line-height: 1;
  left: 1.5em;
  position: relative;
  color: #888;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 1;
}

@media screen and (max-width: 680px) {
  .header {
    flex-direction: column;
  }

  .nav {
    margin-top: 1em;
  }
}
