@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");

.root {
  --hero-bg: #b9e2f5;
  /* --hero-bg: black; */
  /* --color: white; */
  --color: black;
  --hero-leftpad: 12vw;
  --hero-rightpad: 4vw;
  --hero-copy-w: 30vw;
  --hero-img-w: 48vw;
  --hero-h1: 4vw;
  --hero-h3: 1.2vw;
  --hero-subtext: 1vw;
  --hero-subtext-lh: 1.25vw;
  --logo-w: 6vw;
  --black: #111111;

  --waitlist-fs: 1vw;
  --social-fs: 2vw;
}

.html,
.body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* color: var(--black); */
  color: var(--color);
  background: #fcfcfc;
}

.header {
  background: var(--hero-bg);
  padding-left: var(--hero-leftpad);
  padding-top: 30px;
}

.logoImg {
  width: var(--logo-w);
  height: calc(0.417 * var(--logo-w));
  position: relative;
}

.hero {
  background: var(--hero-bg);
  position: relative;
}

.heroInner {
  padding-left: var(--hero-leftpad);
  padding-right: var(--hero-rightpad);
  display: flex;
  padding-bottom: 30px;
}

.heroCopy {
  width: var(--hero-copy-w);
  margin-top: 5vw;
}

.hero h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--hero-h1);
  margin-block-start: 0;
  margin-block-end: 0;
}

.hero h3 {
  font-weight: 700;
  font-size: var(--hero-h3);
  margin-block-start: 0.5em;
  margin-block-end: 0;
}

.hero .subtext {
  font-weight: 300;
  font-size: var(--hero-subtext);
  line-height: var(--hero-subtext-lh);
  margin-top: 2em;
}

.actionBtn {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  border-radius: 1.5vw;
  font-size: var(--waitlist-fs);
  padding: 1vw 2vw;
  display: inline-block;
  margin-top: 4vw;
}

.waitlistBtn {
  background: white;
}

.docsBtn {
  background: black;
  margin-left: 14px;
  color: white;
}

.sep {
  flex-grow: 1;
}

.heroImgContainer {
  position: relative;
  width: var(--hero-img-w);
}

.social {
  background: var(--hero-bg);
  padding-left: var(--hero-leftpad);
  font-size: var(--social-fs);
  padding-bottom: 2vw;
}
