.root button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  cursor: pointer;
}

.controls {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.syncState {
  margin-right: 24px;
  display: inline;
}
